@font-face {
	font-family: 'dungeon';
	src: url('fonts/dungeon.eot');
	src:
		url('fonts/dungeon.ttf')
		format('trutype');
		
	font-family: 'calibri';
	src: url('fonts/Calibri Regular.eot');
	src:
		url('fonts/Calibri Regular.ttf')
		format('trutype');
}
html {
    min-height:100%;
    background-size:cover;
    background:#1F3864;
    background-repeat:no-repeat;
    background:linear-gradient(#16002A, #340064, #16002A);
}

body {
	overflow-y: scroll;
}

h1 {
	font-family:dungeon;
	font-size:36pt;
	color:#FFFFFF;
	text-align:center;
}

h2 {
	font-family:dungeon;
	font-size:18pt;
	color:#D9E2F3;
}

a:link {
  color:#DB2964;
  background-color:transparent;
  text-decoration:none;
}

a:visited {
  color:#CA6486;
  background-color:transparent;
  text-decoration:none;
}

a:hover {
  color:#E95180;
  background-color:transparent;
  text-decoration:underline;
}

a:active {
  color:#ED6D95;
  background-color:transparent;
  text-decoration:underline;
}

.banner {
	background-color:#DB2964;
	font-family:dungeon;
	font-size:36pt;
	color:#000000;
	text-align:center;
}

.contact {
	background-color:#16002A;
	font-family:dungeon;
	font-size:11pt;
	color:#FFFFFF;
	text-align:left;
	line-height:2;
	vertical-align:center;
}

.line {
	background-color:#2F5496;
	height:5px;
	background:linear-gradient(to right, #2F5496, lightblue, #2F5496);
}

.subhead {
	background-color:#20B2F4;
	padding-top:15px;
	padding-left:15px;
	padding-bottom:5px;
	font-family:dungeon;
	font-size:18pt;
	color:black;
	text-align:left;
	text-decoration:underline;
}

.navtable {
	width:202px;
}
.navhead {
	background-color:#CCD430;
	height:40px;
	width:200px;
	font-family:dungeon;
	font-size:11pt;
	color:#000000;
	text-align:center;
}

.navbar {
	height:260px;
	width:200px;
	background-color:#16002A;
	font-family:dungeon;
	font-size:11pt;
	color:#DB2964;
	text-align:left;
	text-decoration:underline;
	line-height:3;
}

.image {
	 text-align:center;
	 padding-top:20px
}

.body {
	padding:15px;
	text-align:left;
	vertical-align:center;
	font-family:calibri;
	font-size:14pt;
	color:white;
	vertical-align:top;
}

.comment {
	text-align:center;
	font-family:calibri;
	font-size:11pt;
	color:lightgrey;
}
#t01, th td{
	table-layout:fixed;
	border: 1px solid black;
	width:100%;
}

#t02, th, td {
	table-layout:fixed;
	border: 1px solid black;
}